<style> 
*{font-family:"Times New Roman",Times,serif}
img{width:80%;max-width:250px}
h4{margin-bottom:0}
header{font-size:x-large}
main{font-size:medium}
signature{font-size:large}
ps{font-size:medium;color:#a6a6a6}</style><div style="border-style:solid;border-width:20px;border-color:#44561e;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/chainring.png);background-position:right bottom;background-repeat: no-repeat"><header><p>Eco Bikes: YES! You Should Use Them!</p><hr color="#A34231"/></header><main><h4>WOW! Look at all the people using Eco bikes!</h4><p>I was planning on sending something like this out once I got a key.
But people seem to be using the bikes a lot, and it seems fitting to make sure everyone knows how to use the system.
So here's the quick and dirty guide on how to use the bikes we've got at Eco.</p><center><img src="images/sign-out.JPG"/></center><h4>The Bike Rooms</h4>The Eco bike room is at the bottom of the stairs by the back door and kitchen.
It is usually unlocked, and should stay unocked, but you can ask an RA to open it if it isn't.
Eco bikes should always be stored in this room - not on the racks or in the personal bike room.<p>The personal bike room is down the hallway to the right.
You shouldn't take bikes that aren't yours from this room ever.
If there are Eco bikes in this room, it's probably because I'm fixing them.</p><h4>Signing Out a Bike</h4>There is a sign-out sheet on the door to the Eco bike room.
Just mark down your information to sign any bike out, and mark your "Time IN" once you get back.
We need to keep the bikes we have in circulation, so you shouldn't keep a bike overnight or for multiple days.
There hasn't been a problem with not having enough bikes yet, and I'm always fixing up more!<h4>Getting a Bike and Accessories</h4>Once you sign one out, your get to pick out your valiant steed!
On the left wall there is a sheet showing which bikes are working.
Most of the bikes with <b>Green tape</b> are okay to take, but you should make sure they also have a check on that sheet.
Both Emma and Tristan rode Eco bikes, so there should be one to fit everybody.
You can also adjust the seat height on all of them to get it to fit.<p>There are lights, helmets, and locks along the left wall, and <i>you should use them!</i>
The current lock combination is on the sheet, just take a picture of it so you don't forget.</p><center><img src="images/available.JPG"/></center><h4>Making Sure the Bike Works</h4>Check your tire pressure and brakes before you go out.
Your tires should be quite firm if you squeeze them, and you can pump them up by the back door.
You can test your brakes quickly in the parking lot.
Just build up some speed and make sure they stop you in a resonable distance before heading out.<p>If you have any problems with your bike, let your bike manager know as soon as possible.
You can track me down around Eco, or just shoot me an email at <a href="mailto:gre27@cornell.edu">gre27@cornell.edu</a>.</p><h4>Safety</h4>You probably know the deal.
But here's a reminder to be safe, wear a helmet, and don't be too risky with traffic.
Things will get more dangerous out there as winter comes, so make sure to have lights, go slowly, and pick an Eco bike with thicker tires.
I already wrote an email about winter biking, so check that out if you want more info!</main><signature><hr color="#A34231" width="20%"/><p>That's all for now, see ya out there! <br>Gabriel, your Bike Manager</p></signature><ps><hr color="#d9d9d9" width="80%"/><i>P.S. Happy Thanksgiving</i></ps></div>