//output:dirty-bikes.html, pretty:false
div(style="border-style:solid;border-width:25px;border-color:#44561e;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/chainring.png);background-position:right bottom;background-repeat: no-repeat")
  header(style="font-size:x-large")
    p What's worse than this cold, wet, nasty weather? A cold, wet, nasty <b>bike</b> of course!
    hr(color="#fea521")
  main(style="font-size:medium")
    h4 Remeber! This 
      i Saturday, October 19th from 12:00pm-1:00pm 
      | is Eco's 
      i Bike Cleaning and Drivetrain Maintanence 
      | program!
      
    p Does your bike look like this? Come on down to the backyard and clean it up! 
      | We'll get through as many as we can, but 
      i the supplies will stay in the bike room for you to use 
      | whenever.
    center
      img(src="muky-bike.jpeg" style="max-width:80%")
      
    p I'll be sure to cover these things:
    ul
      li Cleaning the Chain
      li Cleaning the Gears and Derailleurs
      li Lubing the Chain
      li Lightly Cleaning the Frame
      li Cleaning the Brake Pads and Surfaces
    p Bring any questions if you have them, and I'll see you on Saturday!
  
  signature(style="font-size:large")
    hr(color="#fea521", width="20%")
    p Cycle on! <br> Gabriel, your Bike Manager
    
  ps(style="font-size:medium;color:#a6a6a6")
    hr(color="#d9d9d9", width="80%")
    i Thiccolas' Riddle: A man is found murdered on the ground with fifty two bicycles scattered around him. How did he die?
    
