//output:lost-bikes.html, pretty:false
style img{width:80%}
div(style="border-style:solid;border-width:25px;border-color:#44561e;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/chainring.png);background-position:right bottom;background-repeat: no-repeat")
  header(style="font-size:x-large")
    p Do you miss your bike? Does your bike miss you?
    hr(color="#fea521")
  main(style="font-size:medium")
    p Four bikes on the outside racks are in rough shape, unlocked, and are missing a loving owner! Are they yours? Here's the lineup:
    
    center
      p
        b <br> Black Cougar Dynacraft <br>
        img(src="https://gabrielewig.com/img/emails/bikes/black_bike.jpg")
      p
        b <br> Blue Columbia Rio Mountain <br>
        img(src="https://gabrielewig.com/img/emails/bikes/blue_bike.jpg")
      p
        b <br> Cool Checkered Single Speed <br>
        img(src="https://gabrielewig.com/img/emails/bikes/checkered_bike.jpg")
      p
        b <br> Grey Trek City (Featuring Rachel) <br>
        img(src="https://gabrielewig.com/img/emails/bikes/grey_bike.jpg")
      p
        b <br> Pink Hyper <br>
        img(src="https://gabrielewig.com/img/emails/bikes/pink_bike.jpg")
      p
        b <br> Classy Red Kent Supreme <br>
        img(src="https://gabrielewig.com/img/emails/bikes/red_bike.jpg")
    
    p If one of these is yours, you need to 
      i tell me before steering next weekend 
      | (5pm October 20th). Otherwise they will be acquired and added to our selection of Eco share bikes!
    
  signature(style="font-size:large")
    hr(color="#fea521", width="20%")
    p Cycle on! <br> Gabriel, your Bike Manager
