//output:november-trip.html, pretty:false
div(style="border-style:solid;border-width:25px;border-color:#2D3F63;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/trees.png);background-position:right bottom;background-repeat: no-repeat")
  header(style="font-size:x-large")
    p Salt Point Bike Ride This Saturday!
    hr(color="#fea521")
  main(style="font-size:medium")
    h4 Hello Children of the Forest!
    p As you know, we're biking to Salt Point this Saturday, and you're signed up to come along!
      | In case you forgot, here are the details:
      
    b Salt Point Natural Area
      | <br> November 16 @ 10 a.m.- 1 p.m.
      | <br> 20 miles, "A nice bike ride" - Jeremy
      | <br> Potluck picnic at the point - bring some food to share!
      
    p We're taking a route close to the lake which follows Highway 34. 
      a(href="https://goo.gl/maps/GaQwCL6uRiFbZjYF6") Here is the Google Maps route.
      |  There is also a map and directions atached to this email.
      
    p It looks like Emma, Colden, and Will need Eco Bikes.
      | Gabriel will have those and helmets ready Saturday morning, and we'll make sure they fit then.
      | Gabriel will also have a few bike fixing supplies in case anything breaks down.
      
    p It will be sunny and in the high 20s F on Saturday.
      | Make sure to bring some layers and gloves so you're prepared!
      | You'll probably stay mostly warm biking, but any exposed skin will get chilly.
      | Also make sure to bring a water bottle!
        
  signature(style="font-size:large")
    hr(color="#fea521", width="20%")
    p See you on Saturday! <br> - The Adventuring Crew
    
  ps(style="font-size:medium;color:#a6a6a6")
    hr(color="#d9d9d9", width="80%")
    i P.S. If you can't come anymore, just let one of your co-chairs know.
    
div
  font(style="font-size:0px") This is hidden text for the purpose of attaching documents to the bottom.
