//output:$1.html, pretty:false
div(style="border-style:solid;border-width:25px;border-color:#2D3F63;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/trees.png);background-position:right bottom;background-repeat: no-repeat")
  header(style="font-size:x-large")
    p ECOADVENTURES!  Meeting Times and New Programs!
    hr(color="#fea521")
  main(style="font-size:medium")
    h4 Hey Everybody!
    h5 Welcome back to Eco Ha&uuml;s! I hope you're ready to ADVENTURE!
    
    p First order of business: Let's get together!  Please keep an eye out for an upcoming committees meeting time email.
      
    p Second: Last semester, we tried to do as many activities as you guys wanted!
      | We hope we can continue to go on all the adventures you want and request! 
      a(href="https://docs.google.com/forms/d/e/1FAIpQLSfC1AxWNKZJu51oUCc98OBypgiOxS3IwEm0tr7HckZ-wmu-Qw/viewform?usp=sf_link")
        | Fill out this form (it's the same as last semester) to let us know your ideas.
      
    p WINTER BREAK PHOTO DROP: Show us your awesome, epic, or chill photos! 
      | We'll have a slide show at our first meeting. 
      a(href="https://drive.google.com/drive/folders/1qrogjdEYSUAZhZxSVki2d18eqe48ZX4N?usp=sharing")
        | Upload them to this folder!
        
  signature(style="font-size:large")
    hr(color="#fea521", width="20%")
    p Tally Ho! <br> - Colden, Leila, and Gabriel
    
  ps(style="font-size:medium;color:#a6a6a6")
    hr(color="#d9d9d9", width="80%")
    i P.S. Trees!
    
div
  font(style="font-size:0px") This is hidden text for the purpose of attaching documents to the bottom.
