//output:template-bikes.html, pretty:false
div(style="border-style:solid;border-width:25px;border-color:#44561e;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/chainring.png);background-position:right bottom;background-repeat: no-repeat")
  header(style="font-size:x-large")
    p Bike Manager! Email Template
    hr(color="#fea521")
  main(style="font-size:medium")
    p Lorem ipsum dolor sit amet consectetur adipiscing elit tellus, phasellus platea blandit enim ultricies sapien libero, neque potenti ligula ullamcorper luctus nostra taciti. Nisl arcu fusce eleifend velit vulputate viverra fringilla, id magnis vitae conubia luctus massa dui, pretium risus ornare tempor metus eget. Mauris ridiculus consequat platea a feugiat purus lectus lobortis, id imperdiet congue elementum est sagittis leo eget, ac odio fusce accumsan viverra facilisis enim.
    p Natoque nibh dictumst et sociis sociosqu vel erat habitant venenatis, platea aliquam massa consequat dapibus cursus per nisl, curae varius nisi dignissim volutpat cubilia gravida justo. Posuere rhoncus id donec sociosqu ante curabitur malesuada egestas mus, arcu augue himenaeos quam per litora nam integer quis praesent, nostra porta senectus diam ultricies urna nulla dapibus. Tortor ultricies pharetra at imperdiet lobortis mus fusce sociosqu aptent dapibus malesuada, semper id suspendisse aenean nisi praesent ut proin gravida ad lacus, felis eget luctus porta senectus nec mauris condimentum curabitur sollicitudin.
  
  signature(style="font-size:large")
    hr(color="#fea521", width="20%")
    p That's all for now, cycle on! <br> The Bikers
