//output:winter-bike.html, pretty:false
style 
  | *{font-family:"Times New Roman",Times,serif}
  | img{width:80%;max-width:300px}
  | h4{margin-bottom:0}
  | header{font-size:x-large}
  | main{font-size:medium}
  | signature{font-size:large}
  | ps{font-size:medium;color:#a6a6a6}
  
div(style="border-style:solid;border-width:20px;border-color:#2D3F63;padding:20px;background-color:#ffffff;background-image:url(https://gabrielewig.com/img/emails/snowflake.png);background-position:right bottom;background-repeat: no-repeat")
  header
    p Can't Stop, Won't Stop: Winter Biking 101
    hr(color="#A34231")
  main
    p In case you hadn't noticed, we've been getting some flurries and it's chilly out.
      | But the coming of winter doesn't mean your bike needs to stay locked up and lonely like the bike below.
      | In fact, you might want to still 
      b ride your bike in the winter! 
      | Winter biking takes some practice, and it ain't always fun.
      | But if you want to give it a shot, here's some information to get you started!
      
    center
      img(src="https://untappedcities-wpengine.netdna-ssl.com/wp-content/uploads/2015/04/UntappedCities-BigScreen-Instagram-Contest-Photo-SNow-Bike-NYC-lonely-biker-frozen-bike-bike-covered-in-snow-snow-days-New-York-photography.jpg")

    p If there's one thing you get out of this email it's that you should 
      b be safe on your bike! 
      | Biking in traffic can be dangerous on a warm dry day, and ice doesn't help.
      | If you don't feel safe, 
      b take the bus! 
      | That said, biking in the winter <i>can</i> be done safely and conveniently, which is the point of this email.
      | The information here is mostly from my experience biking in the winter.
      | So while I think it's a good start, it's not entirly complete.
      | As always, let me know if you have questions or need bike help.
    
    h2 Cycling Technique:
    p Being safe in the winter often means trying to stay on your bike, and refining your technique can help with this a lot.
      | Being comfortable and in control of your bike usually just takes time and practice, but there are a few things to think about.
  
      h4 Turning
      | You'll usually be fine biking on slippery surfaces until you try to turn.
      | If you're a real nerd you can calculate the necessary force of static friction on the road using the equation below. 
      | Otherwise, just remember that you need to 
      i approach turns slower and take them wider 
      | than you would normally.
      
      center
        img(src="https://i.pinimg.com/originals/c3/d6/f7/c3d6f7cef0f9dbf73bb2d336c50c5dce.jpg" style="max-width:140px")
      
      h4 Balance
      | Being able to balance your bike generally translates to staying more afloat on that icy sea out there.
      | This has to do with static friction also, and probably something to do with trigonometry. 
      i It helps to use your pedals to balance 
      | since you have a lot more control of the tilt of your bike, and can feel the road better.
      | Can you stay up while not moving? Give it a go!
      
      
      h4 Braking and Skidding
      | We'll talk more about brakes later, but your braking technique is also something to check. 
      i The front brake is the most effective brake, 
      | but you should usually be using both in conjunction.
      | Flying over your handlebars is actually kind of hard, especially if you 
      i shift your weight to the back of the bike.
      
      center
        img(src="http://code7700.com/images/static_v_kinetic_friction.jpg")
        
      | Sometimes your brakes will lock your wheels and skid.
      | This is quite bad since you will generally slide out of control and fall.
      | We'll talk about the coefficient of friction in the tires section, 
      | but the graph above is helpful when thinking about the forces involved.
      | Like ABS in an automobile, it can help to 
      i modulate your brakes to prevent skidding. 
      | In general, it's better to 
      i go lighter and take longer to stop 
      | than skid out of control.
      | Make sure to 
      i leave plenty of space before intersections and other obstacles 
      | in case you need to stop.
    
      h4 Falling Safe(ish)ly
      | Even if you do everything right, you'll probably end up falling off your bike at some point. 
      b Uff da! 
      | The good thing about winter is that ice and snow are better to fall on than asphalt, and you're usually 
      i protected by lot's of clothes anyway. 
      | Cars hurt, so if you have any control you should try to get yourself to the side of the street when you go down.
      | It's also usefull to try to 
      i separate yourself from your bike 
      | if you can dismount or jump off in time.
      | Falling isn't ever great but, as with anything, 
      i practice makes perfect!
    
      h4 Where to Ride
      | Sometimes you don't have a choice of what surface you ride on.
      | But if you do, here are your options from best to worst.
      ul
        li Dry Asphalt
        li Wet Asphalt
        li Light Snow over Pavement or Grass
        li Bumpy/Cracking Ice
        li Heavy Snow
        li Slushy Snow or Snow Covering Ice
        li Smooth/Black Ice
      | The first three options are usually pretty good, but you should still be careful while turning and braking.
      | Rough Ice and Heavy Snow are doable if you're in a pinch, but you should be careful and need decent tires.
      | Black Ice and Snow Covering Ice are a no go. Just walk. You have to be careful on snow in general, since it can have ice underneath.
      
      center
        img(src="http://blog.greenflag.com/wp-content/uploads/2016/01/GF-Jan-Black-ice.jpg")
      
      h4 Dealing with Traffic
      | A general rule of thumb is to assume that 
      i traffic can't see you and can't stop. 
      | A lot of the time this is true.
      | But even if it isn't, you should take extra care to 
      i stay a safe distance away from cars in case they skid 
      | or spin out of control.
      | Although it's annoying, it can sometimes make sense to 
      i bike in the middle of the road or intersection to block traffic. 
      | Having the car see you and slow down for a short distance is sometimes safer than encouraging them to try to dart around you.
      
    h2 Taking Care of Your Bike:
    p Maintaining your bike is especially important in the winter due to the water and salt.
      | There also some parts that can improve your winter biking experience.
      | If you do find yourself buying parts for your bike, it's always a good idea to check out used options and local stores.
      | RIBs, Recycle Ithaca's Bicycles, downtown is great for parts and help, and they run on a pay-what-you-can model.
      
      h4 Cleaning and Lubrication
      | Clean and lube <b>everything</b>.
      | This means lubricating all your bolts, your headset, the pedals, the drivetrain, the quick release skewers, your seatpost, <b>everything</b>.
      | Then it'll get caked in salt, and you'll have to clean it and lube it up again.
      | When it's wet and salty things wil rust and break, so the more you clean and lube the happier your bike will be. 
      i Washing everything down every few weeks 
      | is a good general rule. Reapplying lube to your chain more frequently ain't a bad idea. 
      i Keep in mind that there are cleaning supplies in the bike room.
      
      h4 Tires
      | Like I've mentioned, tires provide the friction which makes your bike work.
      | I wasn't able to find exact mesurements for the coefficient of friction, &mu;, for bikes.
      | But it generally seems like &mu; for your tires on the road is reduced by about 30% on wet asphalt, 75% on packed snow, and 90% on ice.
      | In general you'll be better off with a <i>thicker and more nobby tire</i>, which most of the Eco share bikes have!
      | Some winter tires have metal studs. <i>These are helpful, but don't make a huge difference.</i>
      | I find that they're most usefull when cutting through light snow and gripping the asphalt below.
      | They help a little on slippery surfaces and while cornering, but ultimately nothing can really help if you hit a patch of ice.
      
      center
        img(src="https://static.biketiresdirect.com/productimages/images650/45vvb1-2.jpg")
      
      h4 Brakes
      | Any brake will be less effective in the winter, but having better brakes to begin with helps.
      | Disk brakes are the way to go if you have the option, but most bikes that come with rim brakes can't be upgraded. 
      i With any brake, having a good condition pad is important. 
      | There are usually guides to mark when it's worn, but in general rim brakes should still have multiple defined sections and the material should be slightly supple.
      | If you buy new rim brake pads, there are sometimes options 
      i designed with wet conditions and snow in mind. 
      | These are sometimes orange or salmon in color, but just ask around at a bike shop.
      
      h4 Lights
      | Lights are more important in the winter since it gets dark earlier and percipitation decreases visibility.
      | You don't need anything very facy to be seen, and there are a bunch in the Eco bike room that you are welcome to borrow.
      | A bright headlight can help you see a lot better if you get caught in a blizzard.
      | A thrilling time to ride nonethless? <i>You betcha!</i>
      
      h4 Fenders
      | Fenders are really quite great to keep your feet and butt dry, and your bike clean.
      | Bolt-on fenders provide the most protection and are a semi-permanent addition to your bike.
      | There are also removable options which are convenient, but don't block as much spray.
      
    h2 Taking Care of Your Bodyyy:
    p Ok, last part. Winter sucks, so this is how to take care of yourself. This should go without saying, but <b>wear a helmet</b>.
    
      h4 Clothing
      | You'll won't be outside long, and you'll usually produce a lot of heat biking.
      | Because of this, having lots of insulation isn't always necessary.
      | Instead, you need to focus on mitigating the amount of exposed skin, wind, and water. 
      i I usually wear rain gear over a light jacket with long underwear. 
      | This is usually enough insulation while biking since it blocks most of the wind and keeps me dry.
      | As usual, your toes and fingers will tend to get cold. Mittens and wool socks are a must.
      | For wind it helps to tuck your pants into your socks and gloves into your jacket.
      
      h4 Face Clothing
      | Faces are particularly difficult to keep warm.
      | You can start with a hat or hood, but it usually won't be enough in the wind. 
      i Balaclavas and buffs are usually the go-to, 
      | but it's hard to get right, and requires a lot of fanagling.
      | I usually go for a buff and a hat but often I'll breath too heavily and the buff will freeze to my lips and make it hard to breath.
      | And then I take it off and my cheeks start to burn within five minutes. If anyone has ideas, let me know.
      | Somethimes your eyes will get cold and you'll tear up and little icicles will form on your eyelashes.
      | Sunglasses can help with this, and they also block snow glare.
      
      center
        img(src="http://nashvillecprcertification.com/wp-content/uploads/2016/07/firstAidLogo.png" style="max-width:250px")
      
      h4 Getting Hurt
      | Just like you'll probably fall, you'll probably end up getting hurt.
      | You're usually pretty well protected in the winter so it often isn't that bad, but you should be ready if it is.
      | If you're able to, <i>get inside to a warm place</i> so that you're able to take off your gloves and clothes without freezing.
      | Having an open wound freeze over in the cold sucks, trust me.
      | I almost always carry around a first aid kit for this purpose.
      | If you have an open wound, you <i>need to clean it ASAP</i> since it's probably full of gross sand and gravel from winter roads.
      | After you've dressed the wound, or if it's just a bruise, try to take it easy for a bit before getting back on the bike.
      | If you have a more serious injury, get help (ask a friend, Cornell Health, 911, etc.)
        
    h4 I hope all this information helps ya feel a bit more prepared in these chilly months.
     | I want to reiterate that it might make more sense to walk or take the bus instead of biking.
     | Cycling in the winter can be slippery and dangerous, so make sure you feel safe before going out.
     | But if you're like me, and will bike anyway because <i>bikes are just that cool</i>, I hope you find this helpful.
     | As always, let me know if you have questions or need help working on your bike.
            
  signature
    hr(color="#A34231", width="20%")
    p See ya out der, eh? <br>Gabriel, your Bike Manager and resident Midwesterner
    
  ps
    hr(color="#d9d9d9", width="80%")
    i P.S. This email is dedicated to Katie and Thiccolas, some of the few to actually consider biking in the winter with me.<br/>
    i P.S.S. Ideas for a literally underground bike room program? Let me know...
